In [ ]:
import snscrape.modules.twitter as twitterscrapper
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
scraper  = twitterscrapper.TwitterSearchScraper("Virat Kohli")
tweets = scraper.get_items()
tweets_list = []
for index, tweet in enumerate(tweets):
    if(index>100):
        break
    else:
        tweets_list.append(tweet.content)



-----------------------------------------------------------------------------------------------------------------------------------------------

from twikit import Client


email = 'anderaes654@gmail.com'
password = '2354@Krishna'
client = Client(language='en-US')
client.login(auth_info_1=email, password=password)

In [106]:
access_token = '1890342309847506944-rLqD05QZZSvqE2Goi093pC8qcqzayb'
Access_token_secret ='NzJ6OgxV5n7xdA3xDn2JPDBz4341saQxAjtjiae3iJkon'
Consumer_api_key= '71oQvAubOkzxstUjVl0EDzfrB'
Consumer_api_secret = '9FrBT5dbBnt1pqTkGkP0mny8ZD5Is3Xdb9Kdzp2tfVepPUMbUi'

bearer_token = "AAAAAAAAAAAAAAAAAAAAAHsHzQEAAAAATACdONRWxjGJujZ7mX3PtzVWP48%3DKOIHoo0YvEApUsYDGe2yKnKbsO02qSsCO3va1GTxkz7Bdd0pbj"

import tweepy
auth = tweepy.OAuthHandler(Consumer_api_key,Consumer_api_secret)
auth.set_access_token(access_token,Access_token_secret)
api = tweepy.API(auth)
# query = "United Airlines -is:retweet lang:en"
query = "United Airlines"
client = tweepy.Client(bearer_token= bearer_token)
response = client.search_recent_tweets(query, tweet_fields=['created_at','geo'], max_results=100)

In [120]:
import mysql.connector


host = "localhost"
username = "root"
password = "2354@Krishna"
database = "scrapped_tweets"

connector = mysql.connector.connect(host=host,user = username,password = password,database = database)

In [124]:
cursor = connector.cursor()
cursor.execute('CREATE TABLE IF NOT EXSISTS Tweets (tweet_id VARCHAR(255) PRIMARY KEY, tweet TEXT, creation_time DATETIME)')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'EXSISTS Tweets (tweet_id VARCHAR(255) PRIMARY KEY, tweet TEXT, creation_time DAT' at line 1

In [115]:
for tweet in response.data:
    print(tweet)
    break

United Airlines flight UA1879 from Chicago to Los Cabos returned to O’Hare due to a suspected cockpit windshield issue. Pilots initially feared a fire, but none was found. The 25-year-old Boeing 737-800 landed safely, and passengers were rebooked later that day.

Windshield… https://t.co/GIM31EgHX3 https://t.co/cCJ31AEqSr

In [ ]:
scraped_data =[]
for tweet in response.data:
    scraped_data.append(tweet.text)

In [ ]:
scraped_data

In [ ]:
from transformers import pipeline
sentiment_pipeline = pipeline("sentiment-analysis")

In [ ]:
result = sentiment_pipeline(scraped_data)

In [ ]:
result

In [ ]:
scraped_data

In [ ]:
result = sentiment_pipeline(scraped_data)
result_list = []
for entry in result:
    result_list.append(entry['label'])
count_positive = result_list.count('POSITIVE')
count_negative = result_list.count('NEGATIVE')
final_inference = {'POSITIVE' : count_positive , 'NEGATIVE' : count_negative }

In [ ]:
result_list

In [ ]:
result

In [ ]:
count_positive = result_list.count('POSITIVE')
count_negative = result_list.count('NEGATIVE')

In [ ]:
final_inference = {'POSITIVE' : count_positive , 'NEGATIVE' : count_negative }

In [ ]:
final_inference